<!DOCTYPE html>
<html lang="en">
<head>
  <!--boilerplate-->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
  
  <!--tags-->
  <title>{{ title }}</title>
  <meta name  = "description" content = {{ description }}/>

  <!--stylesheets-->
  <style>
    body {
      font-family: 'JetBrains Mono', monospace;
    }
  </style>
</head>

<body>
  <header>
    <h2>Apricot's blog</h2>
  </header>
  <main>
    <article>
      <h1>{{ title }}</h1>
      {{ content }}
    </article>
  </main>
</body>
</html>